[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
flask-talisman = "*"
gunicorn = "*"
rsa = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
